#site-header {
    display: flex;
    justify-content: center;
    background: #e04b52;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }

  #site-header h1 {
    justify-content: left;
    width: auto;
    height: auto;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
    justify-self: center
  }

  .eqi-container {
    border: 10px solid black;
    display: flex;
    justify-content: space-evenly;
  }
  .eqi-container div {
    width: 50px;
    height: 50px;
    background: red;
  }

  button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }

  button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }